<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DbConnectionString" connectionString="Server=tcp:cameramonitoringsystem.database.windows.net,1433;Initial Catalog=CMSDb;Persist Security Info=False;User ID=CMSAdmin;Password=#Cm$TeK$seVic3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SetAutomatic" value="true" />
    <add key="RestartTime" value="19:00:00" />
  </appSettings>
</configuration>